.mainchat
  .mainchat__header
    %p.mainchat__title-name textname
    .mainchat__memberlist
      %a.mainchat__menber-font メンバー
    .mainchat__edit
      = link_to "#", class: "mainchat__btn" do
        Edit
  .mainchat__chat-display
    .mainchat__message
      名前
      %a.mainchat__Times-of-Day
        2020/4/19 19:00:00
        %br
      %a.mainchat__message-form
        メッセージ
    .mainchat__message
      名前
      %a.mainchat__Times-of-Day
        2020/4/19 19:00:00
        %br
      %a.mainchat__message-form
        今日は夜から雨
  .mainchat__form
    %form.mainchat__message-input
      .mainchat__input-box
        %input{type:"text", class: "mainchat__initial-message", placeholder: "type a message"}
        %label{class: "mainchat__image-btn"}
          = icon('fas', 'image')
          %input{type: "file", class: "mainchat__image-btn-file"}
    %input{type: "submit", class: "mainchat__submit-btn", value: "Send"}